.auth__form {
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
}
.auth__form p a {
    color: rgba(255, 255, 255, 0.735);
}
.auth__form p {
    margin-top: 30px;
}
.auth__form input[type='file'] {
    color: #fff;
    cursor: pointer;
}
.login__btn{
    background: #fff !important;
    color:var(--primary-color) ;
    font-weight: 600;
    border-radius: 5px;
}
.auth__btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: #fff;
    color:var(--primary-color) ;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
}